.calender{
    padding-top: 20px;
    width: 70%;
    height: 100%;
    background-color: #126e82;
    border-radius: 10px;
}
.week{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.day{
    position: relative;
    display: inline-block;
    width: calc(100% / 7);
}
.day div{
    padding-top: 5%;
    height: 70px;
    margin-right: 6px;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
}
.day div p{
    font-size: small;
}

.header{
    padding-left: 5px;
    background-color: #132C33;
    font-size: large;
    height: 35px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dayNames{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 7%;
    margin-right: 6px;
    color: white;
    font-size: large;
}

.toggle:hover{
    cursor: pointer;
}

.before{
    background-color: #d8e3e7;
    color: rgba(0, 0, 0, 0.4);
}

.selected{
    background-color: crimson;
}

.today{
    background-color: #132c33;
    color: white;
}
.after{
    background-color: #51c4d3;
}
.months, .years{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px;
}
.monthName, .yearNum{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    background-color: khaki;
}
.monthName:hover, .yearNum:hover{
    background: cadetblue;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.show{
    position: absolute;
    background-color: cornsilk;
    z-index: 2;
    width: 40%;

}
.hide{
    display: none;
}

@media screen and (max-width: 800px){
    .calender{
        height: 60%;
    }
    .day div{
        height: 35px;
        
    }
    .show{
        width: 60%; 
    }
    .monthName, .yearNum{
        height: 30px;
        margin: 4px;
        font-size: small;

    }
    .dayNames{
        font-size: small;
    }
    .months, .years{
        margin: 5px;
    }

}
@media screen and (max-width: 500px){
    .show{
        width: 70%; 
    }
    .day div p{
        font-size: smaller;
    }
}
